.header,
.search {
  display: flex;
}

.header {
  width: 100%;
  justify-content: space-evenly;
}

.search {
  justify-content: flex-end;
  align-items: center;
}

.size {
  height: 2rem;
  width: 15rem;
  padding-right: 0.5rem;
  margin: {
    bottom: 2rem;
    top: 2rem;
  }
}

.icon {
  margin-right: 5px;
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
