@import "./variables/borderBox.scss";
@import "./variables/centerChild.scss";
@import "./variables/classSearch.scss";
.general {
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: flex-start;
}

.button {
  background-color: transparent;
  border: none;
  margin: {
    top: 1rem;
    left: 1rem;
    right: 1rem;
  }
  width: fit-content;
  padding: 0;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
