@import "./variables/borderBox.scss";
@import "./variables/centerChild.scss";
@import "./variables/classSearch.scss";
.general {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.button {
  background-color: transparent;
  border: none;
  margin-top: 1rem;
}
