.question {
  border: 1px solid white;
  width: 99%;
  margin: 0.5rem;
  padding: 1rem;
}

.justify {
  text-align: justify;
}

.p {
  margin-left: 2rem;
}

.button {
  margin-top: 2rem;
  font-size: large;
  background-color: peru;
  border: none;
  padding: 0.3rem;
  border-radius: 5px;
  cursor: pointer;
}
